
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/darienhz/image/upload/v1605650766/cameron-vaughan-0AV7XLABuZk-unsplash_eylzso.jpg);">
  <div class="container">
    <h1>Get out there...</h1>
  </div>
</div>
<div class="container">
  <div class="text-center pt-2">
    <h2>All tents</h2>
  </div>
</div>
<div class="content-layout">
      <div class="cards">
        <% @tents.each do |tent| %>
        <%= link_to tent_path(tent) do %>
        <div class="card">
          <%= image_tag "https://res.cloudinary.com/darienhz/image/upload/v1605731059/jesse-gardner-wTVr4HR4SBI-unsplash_v6h1e5.jpg", class: "card-image" %>
          <p><%=tent.title%></p>
        </div>
        <% end %>
      <% end %>
     </div>
</div>
