
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/darienhz/image/upload/v1605650766/cameron-vaughan-0AV7XLABuZk-unsplash_eylzso.jpg);">
  <div class="container">
    <h1>Get out there...</h1>
  </div>
</div>
<div class="container">
  <div class="text-center pt-2">
    <h2>All tents</h2>
  </div>
</div>
<% @tents.each do |tent| %>
  <ul>
    <li>
      <%= link_to tent.title, tent_path(tent) %>
    </li>
  </ul>
<% end %>
<%# div below is for testing actual seeding will be with the .each above %>
<div class="content-layout">
      <div class="cards">
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
          Tents
        </div>
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
          Tents
        </div>
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
          Tents
        </div>
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
          Tents
        </div>
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
          Tents
        </div>
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
          Tents
        </div>
     </div>
</div>