// Define variables for your color scheme

// For example:
$darkorange: #f34429;
$lightorange: #c16242;
$lightblue: #3dd8e0;
$green: #2d9a72;
$lightgreen: #12da9e;
$blueblack: #011b1d;
$bluegrey: #495758;
$bluelightgrey: #a4babc;
$bluewhite: #e9f5f6;
