// // Specific CSS for your home-page

.carousel {
	height: 500px;
}
.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: $bluewhite;
	text-align: center;
}

.typing {
  font-size: 32px;
  font-family: "K2D", sans-serif;
	text-align: center;
}

.carousel-item > .view {
	height: 500px;
	background-position: 50% 100%;
}
.view {
	// background-position: 100% 100%;
	background-size: cover;
	max-width: none;
	background-repeat: no-repeat;
	background-color: $blueblack;
}

.h1-responsive {
	font-size: 55px;
	padding-bottom: 190px;
}

.search_box {
	padding-top: 20px;
	text-align: center;
}
// .banner {
// 	background-size: cover;
// 	background-position: bottom;
// 	padding: 10px 0;
// 	height: 440px;
// }

// .banner h1 {
// 	margin: 20px 0px;
// 	color: white;
// 	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
// 	font-size: 40px;
// 	font-weight: bold;
// 	text-align: left;
// }
// .banner h2 {
// 	margin: 20px 0px;
// 	color: white;
// 	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
// 	font-size: 32px;
// 	font-weight: lighter;
// 	text-align: left;
// }

// .banner p {
// 	font-size: 20px;
// 	color: white;
// 	opacity: 0.7;
// 	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
// }

// .search_box {
// 	padding-top: 20px;
// 	text-align: center;
// }
