<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/darienhz/image/upload/v1605652920/kal-visuals-RU3DtnbuHaA-unsplash_xv9jqd.jpg);">
  <div class="container banner-content">
      <div class="header-bookings">
        <h3>Your Bookings</h3>
      </div>
  </div>
</div>