<h1>Listings</h1>

<div class="content-layout">
      <div class="cards">
        <% @tents.each do |tent| %>
        <%= link_to tent_path(tent) do %>
        <div class="card">
          <%= cl_image_tag(tent.photos.first.key, crop: :fill, class: "card-image") %>
          <p><%=tent.title%></p>
        </div>
        <% end %>
      <% end %>
     </div>
</div>