<div class="container">
    <h4>When do you want to book?</h4>
      <%= simple_form_for([ @tent, @booking ]) do |f| %>
      <%= f.input :checkin_date %>
      <%= f.input :checkout_date %>
      <%= f.submit 'Book', class: "btn btn-primary"%>
      <% end %>
</div>

  