<div class="trip_form">
    <h4></h4>
      <%= simple_form_for( [@site, @trip] ) do |f| %>
      <%= f.input :checkin_date, wrapper_html: { class: 'flex-select' }, as: :date, html5: true %>
      <%= f.input :checkout_date, wrapper_html: { class: 'flex-select' }, as: :date, html5: true %>
      <%= f.submit 'Save Trip Plans', class: "btn btn-primary"%>
      <% end %>
</div>

  