<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/darienhz/image/upload/v1605650766/cameron-vaughan-0AV7XLABuZk-unsplash_eylzso.jpg);">
  <div class="container">
    <h1>Get out there...</h1>
  </div>
</div>

