.avatar {
	width: 30px;
	border-radius: 50%;
	height: 30px;
}
.avatar-large {
	width: 56px;
	border-radius: 50%;
}
.avatar-bordered {
	width: 40px;
	border-radius: 50%;
	box-shadow: 0 1px 2px $bluelightgrey;
	border: $bluegrey 1px solid;
}
.avatar-square {
	width: 40px;
	border-radius: 0px;
	box-shadow: 0 1px 2px $bluelightgrey;
	border: bluewhite 1px solid;
}

.pill-nav {
	border-radius: 20px;
	border: 1px solid $green;
	width: 70px;
	padding: 4px 8px;
}
