.footer {
  border-top: 1px solid $bluegrey;
  background: $bluelightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: $blueblack;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $green;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $lightgreen;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}