.form-box {
  border-radius: 6px;
  border: 1px solid $bluelightgrey;
}

.form-inputs {
  margin: 60px;
  border-radius: 20px;
  
  input {
    border-radius: 12px;
    border: 0;
    box-shadow: 0 0 15px $bluelightgrey;
  }
}

#login-header {
  text-align: left;
  padding-top: 12px;
  font-size: 48px;
  padding-left: 50px;
}

.form-actions {
  padding-left: 50px
}

.container input {
    border-radius: 12px;
    border:0;
    box-shadow:0 0 15px $bluelightgrey;
}

.form-control {
    border-radius: 12px;
    border:0;
    box-shadow:0 0 15px $bluelightgrey;
}
