.form-box {
  border-radius: 6px;
  border: 1px solid #e8ecee;
}

.btn {
  border-radius: 6px;
}

.form-inputs {
  margin: 60px;
}

#login-header {
  text-align: left;
  padding-top: 12px;
  padding-left: 18px;
  font-size: 48px;
}