.navbar-lewagon {
	justify-content: space-between;
  background: $bluewhite;
}

.navbar-lewagon .navbar-collapse {
	flex-grow: 0;
	transition: 0.6s ease;
}

.navbar-lewagon .navbar-collapse:hover {
	transform: scale(1.2);
}

.navbar-lewagon .navbar-brand img {
	transition: 0.6s ease;
	width: 50px;
}

.navbar-lewagon .navbar-brand img:hover {
	transform: scale(1.2);
}

.navbar h1 {
  font-size: 30px;
}

@media (max-width: 680px) {

  .navbar, .navbar-lewagon, .navbar-light {
    flex-wrap: nowrap;
  }
  
  .navbar h1 {
    font-size: 20px;
    white-space: nowrap;
  }

  .navbar-lewagon .navbar-brand img {
    transition: 0.6s ease;
    width: 40px;
    margin: 0px;
  }

  .navbar-lewagon .navbar-collapse {
    transition: 0.6s ease;
    display: inline;
  }

}

