.navbar-lewagon {
	justify-content: space-between;
	background: $bluewhite;
}

.navbar-lewagon .navbar-collapse {
	flex-grow: 0;
	transition: 0.6s ease;
}

.navbar-lewagon .navbar-collapse:hover {
	transform: scale(1.2);
}

.navbar-lewagon .navbar-brand img {
	transition: 0.6s ease;
	width: 50px;
}

.navbar-lewagon .navbar-brand img:hover {
	transform: scale(1.25);
}

.h1 {
	align-self: center;
}

