.navbar-lewagon {
	justify-content: space-between;
  background: $bluewhite;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
	flex-grow: 0;
	transition: 0.6s ease;
}

.navbar-lewagon .navbar-collapse:hover {
	transform: scale(1.2);
}

.navbar-lewagon .navbar-brand img {
	transition: 0.6s ease;
	width: 50px;
}

.navbar-lewagon .navbar-brand img:hover {
	transform: scale(1.2);
}

.navbar h1 {
  font-size: 36px;
  margin-top: 6px;
}

.nav-link {
  color: $bluegrey;
  border: 1px solid $bluegrey;
  border-radius: 24px !important;
  padding: 4px;
}

.nav-link:hover {
    color: $green;
    border: 1px solid $green;
  }


@media (max-width: 680px) {

  .navbar, .navbar-lewagon, .navbar-light {
    flex-wrap: nowrap;
  }
  
  .navbar h1 {
    font-size: 24px;
    white-space: nowrap;
  }

  .navbar-lewagon .navbar-brand img {
    transition: 0.6s ease;
    width: 40px;
    margin: 0px;
  }

  .navbar-lewagon .navbar-collapse {
    transition: 0.6s ease;
    display: inline;
  }

}

