.card-trip {
  margin-top: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 6px;
}

.card-trip > img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 2px;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.container {
  margin-bottom: 40px;
}

.tent-map {
margin-top: 20px;
margin-bottom: 20px;
}

.booking-box {
  margin: 30px;
  width: 40%;
  margin: 0 auto;
}

.date {
  border-radius: 6px;
}

#map {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 6px;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px;
}

.avatar-bordered {
  height: 40px;
  width: 60px;
}