// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
// Your CSS partials


// GoogleFonts
@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,300;0,400;1,300&family=Special+Elite&display=swap"); //Components
@import "components/index";
@import "pages/index";

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: "K2D", sans-serif;
}

.btn,
.btn-success, 
.btn-warning, 
.btn-danger,
.btn-primary {
  background-color: $green;
  border-radius: 18px; 
  box-shadow: 0 0 1.5px $bluegrey;
  margin: 4px;
  border: none;
  color: $bluewhite;
}

.btn:hover,
.btn-success:hover, 
.btn-warning:hover, 
.btn-danger:hover,
.btn-primary:hover {
  background-color: $lightgreen;
  box-shadow: 0 0 1.5px $bluegrey;
  color: $bluewhite
} 

a {
  border-radius: 18px;
  color: $bluewhite;
}

a:hover {
  color: $bluewhite;
}

select {
  border-radius: 18px; 
  box-shadow: 0 0 1.5px $bluegrey;
  border: none;
  padding: 9px;
  margin: 4px;
}
